*{
    margin:0;
    padding:0;
}


#header{
    height: 100px;
    background-color:rgb(185, 29, 50); 
  
}
#container{

    width:90vw;
    background-color:rgb(185, 29, 50);
    margin-left:auto;
    margin-right:auto;
    font-family:Georgia, 'Bodoni 72 Book', Times, serif;
}
#header h1{
    font-size:4vw;
    color:ivory;
    text-align: center;
    line-height: 160px;
    font-style:normal;
    
}

    #header ul{
        list-style-type:none;
    }
    
    #header li{
        float:left;
        height:50px;
        background-color:rgb(0, 0, 0);
        width:22.5vw;
        Line-height:50px;
        text-align: center;
        position:relative;
        background-color:black;
        
    }
    
    #header li a{
        color:ivory;
        font-size:1.6vw;
        font-weight:bold;
        display:block;
        text-decoration:none;
    }
    
    
    #header li a:hover{
        background-color:grey;
        transition:0.5s ease;
        
    }
    .grid{
        background-color:lightgrey;
        width: 99%;
        margin: 1%;
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows:  1.4fr 1.4fr 1.4fr 1.4fr 1.4fr 1.4fr;
        grid-gap:1em;
        grid-template-areas:
            "content1"
            "content2"
            "content3"
            "content4"
            "content5"
            "content6";
        margin:1vw;
        font-family:Tahoma, Arial, sans-serif;
        font-weight:700;
        text-transform: uppercase;
        text-align:center;
        border-radius: 0.7vw;
        padding-top:0.5vw;
    
        
    }
        
    h2 {
        font-size: 15px;
        
    }
    
    .content1{
        background-color:aliceblue;
        grid-area:content1;
        border-radius: 0.7vw;
        padding-top:0.5vw;
    }
    
    
    .content2{
        background-color:aliceblue;
        grid-area:content2;
        border-radius: 0.7vw;
        padding-top:0.5vw;
    }
    
    
    .content3{
        background-color:aliceblue;
        grid-area:content3;
        border-radius: 0.7vw;
        padding-top:0.5vw;
    }
    
    .content4{
        background-color:aliceblue;
        grid-area:content4;
        border-radius: 0.7vw;
        padding-top:0.5vw;
    }
    
    .content5{
        background-color:aliceblue;
        grid-area:content5;
        border-radius: 0.7vw;
        padding-top:0.5vw;
    }
    
    .content6{
        background-color:aliceblue;
        grid-area:content6;
        border-radius: 0.7vw;
        padding-top:0.5vw;
    } 
      #footer{
            height:35px;
            background-color:rgb(185, 29, 50);
            clear:both;
            font-size: larger;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color:honeydew;
            text-align:center;
            position:relative;
            padding-top: 30px;
            
            
     }
     @media screen and (min-width: 600px){
        .grid{
            display:inline-grid;
            grid-template-columns:1fr 1fr 1fr;
            grid-template-rows: 2.1fr 2.1fr;
            grid-template-areas:
                
                "content1 content2 content3"
                         
                "content4 content5 content6"
                ;
            margin:0.5vw;
    }}